{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des routes :</h1>

    <ul>
        <li><a href="http://127.0.0.1:8000/info/">Default route for API</a></li>
        <li><a href="http://127.0.0.1:8000/info/1">route for the first person</a></li>
        <li><a href="http://127.0.0.1:8000/info/2">route for the second person</a></li>
       
    </ul>
</div>
{% endblock %}
